<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action='/' method="POST">
  <input type="text" name="task" id="task">
  <input type="number" name="priority" id="priority">
  <input type="submit" value="ADD">
  </form>

  <ul>
    {{#each todos as |todo|}}
    <li>{{todo.task}}</li>
    {{/each}}
  </ul>
</body>
</html>
