* {
	box-sizing: border-box;
}
.container {
  /*padding: 10px;*/
  border: 1px solid red;
}

.box1, .box2, .box3 {
	height: 200px;
	padding: 4px ;
	/*margin: 4px;*/
}

.box1 {
	
	background-color: red;
}

.box2 {
	
	background-color: green;
}

.box3 {
	
	background-color: orange;
}